[run]
branch=True
source=./cylc

[report]
precision=2

exclude_lines =
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    return NotImplemented

    # Ignore type checking code:
    if (typing\.)?TYPE_CHECKING:
    @overload( |$)

    # Don't complain about ellipsis (exception classes, typing overloads etc):
    \.\.\.

    # Ignore abstract methods
    @(abc\.)?abstractmethod