name: tests

on: [workflow_dispatch, pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |
          pip install flake8
          pip install pytest
          pip install nest_asyncio
          pip install git+https://github.com/metomi/rose@master
          pip install git+https://github.com/cylc/cylc-flow@master
          pip install --no-deps ."[all]"
      
      - name: Style
        run: |
          flake8

      - name: Pytests
        run: |
          pytest
